.colores{
color: aqua;
}
.colores-hexagesimal{
color: #B287A3;
}
.colores-rgb{
    color: rgb(55, 12, 44);
}
.colores-rgba{
color: rgba(21, 2, 66, 0.7);
}
.fondo{
    background-color: coral;
}
.fondo-img{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6IkYunS6wlA93J5uYQyFApSBThFdiJlnh2w&usqp=CAUs");
    background-position: right bottom;
}