h1{
    color:brown;
}
p{
    color: aqua;
    font-size: 15pt;
}
#primernoticia{
    color: blueviolet;
    font-size: 13pt;
}
.text{
    color: yellow;

}
*.warning{
    color: red;
}
/* text decoration underlani subraya el texto
font size lo agranda o achica*/

.texto1, .texto2, .texto3{
    color: darkgreen;
    font-size: 24pt;
    text-decoration: underline;
}